
* {
    font-family: raleway;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    color: inherit;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', serif;
    font-size: 48px;
  }
.container {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}
.col {
    flex: 1;
    
    }
.col1 {
    order: 1;
    padding-left: 10vmax;
    padding-top: 30vh;
}

.col2 {
    order: 2;
    width: 30vw;
    padding-top: 25vh;
    padding-right: 5vh;
}

.col3{
    order: 3;
    width: 50vw;
    background-image: url(../img/bg.gif);
    background-size: cover;
    opacity: 0.5;
    flex-grow: 2;
}

.text-menu {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 6vmin;
    line-height: 119.9%;
    text-align: right;
}

a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

a:hover{

}

.grey {
    background-color: #E4E4E4;

}


.logo{
    z-index: 1;
    position: absolute;
    left: 10vmax;
    top: 34vh;
}

.icon{
    padding-top: 2vh;
}
.section-title {

    /* Abs positioning makes it not take up vert space */position: absolute; top: 10px; left: 3.5vw;
    
    /* Border is the new background */background: none;
    
    /* Rotate from top left corner (not default) */-webkit-transform-origin: 0 0;-moz-transform-origin:    0 0;-ms-transform-origin:     0 0;-o-transform-origin:      0 0;-webkit-transform: rotate(90deg);-moz-transform:    rotate(90deg);-ms-transform:     rotate(90deg);-o-transform:      rotate(90deg);}


.menu-index{
  margin-left: 10px;
}

.menu-index:hover{
  color: #ffffff;
}

.menu-index-header:hover{
  color: #ffffff;
}

.menu-button {

}


@media screen and (max-width: 600px) {
    .container {
        flex: 1;
    }

    .col3{
      display: none;
    }
    .col2 {
        padding-top: 5vh;
        height: 60vh;
    }

    .col1{
        padding-left: 50vw;
        padding-top: 8vh;
        padding-bottom: 8vh;
        height: 40vh;
    }

  .logo{
        width: 80px;
        height: 80px;
        position: fixed; top: 70vh; left: 80vw;
    } 

    .section-title {
        position: fixed; top: 50vh; left: 7vw;
    }
    
    .col-bg {
        background-image: url(../img/bg.gif);
        background-size: cover;
    }
  }
 /* 
  .menu-button {
        position: fixed;
        bottom: 10vh;
        width: 100%;
    } */