* {
    font-family: raleway;
    font-style: inherit;
    font-size: inherit;
    line-height: inherit;
    line-height: inherit;
    text-align: inherit;
    color: inherit;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
} 


body{
    background-color: #C4C4C4;
    margin: 1px #000000;
}

.bio{
    background-color: #748D70;
    color: #ffffff;
}

.index{
    display: flex;
    justify-content: space-between;
    margin: 4em;
    
}

a{
    text-decoration: underline;  
}

a:hover {
    text-decoration: none;
  }
  

.prensa-ensayo{
    display: flex;
    justify-content: space-between;
   
}

.img-section{
 
}

.logo-size{
    height: 80vh;
}

.img-article{
    height: 99.5vh;
}

.logo-small{
    height: 20vh;
}

.index-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    font-family: Raleway;
    font-weight: 800;
    font-size: 48px;
    margin-left: 1em;
}

.prensa-ensayo-menu{
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 1em;
    margin-bottom: 1em;
    }

.eng-titles{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.essay-author{
    font-size: 32px;
}

.menu2{
    display: flex;
    justify-content: space-between;
}

.inactive{
    opacity: 0.3;
}

.logo-header{
    position: sticky;
    height: 15vh;
}

.contact{
    width: 40vw;
}

.title-line{
    border-bottom: solid #000000 0.15em;
    padding-bottom: 0.3em;
    margin-bottom: 0.4em;
}

.circle{
    clip-path: circle(50%);
}

.img-about{
    height: 90%;
}

.title{
    font-size: 36px;
    text-transform: uppercase;
    width: 30vw;
    line-height: 20px;
}

.biography{
    width: 29vw;
    margin-left: 3vw;
    margin-right: 4vw;
}
.bio-text{
    margin-top: 2em;
    line-height: 2em;
}

.bio-photo{
    position: sticky;
    height: 85vh;
}

.spanish{
    font-weight: 600;
}

figcaption{
    margin-top: 2em;
    font-size: 12px;
    text-align: center;
}

.title-header{
    display: none;
}

header {
  
}



@media screen and (max-width: 1570px){
    
    .index-menu{
        font-size: 36px;
        width: 34vw;
    }

    .eng-titles{
        font-size: 16px;
    }

    .essay-author{
        font-size: 24px;
    }


}

@media screen and (max-width: 1280px){
 
    .index-menu{
        font-size: 26px;
        width: 30vw;
    }

    .eng-titles{
        font-size: 14px;
    }

    .essay-author{
        font-size: 22px;
    }

}

@media screen and (max-width: 800px) {

    .index{
        flex-direction: column;
        justify-content: space-between;
        margin: 1em;
        height: 80vh;
        line-height: 40px;
    }

    .index-bio :nth-child(1){ order: 1;}
    .index-bio :nth-child(2){ order: 3;}
    .index-bio :nth-child(3){ order: 2;}  

    header{
        display: flex;
        justify-content: space-between;
    }

    .logo-header{
        height: 15vw;
    }

    .biography{
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .logo-size{
        width: 90vw;
        height: 40vh;
    }

    .index-menu{
        width: 90vw;
        font-size: 24px;
        margin-left: 0;
    }

    .eng-titles{
        font-size: 12px;
    }

    .essay-author{
        font-size: 20px;
    }

    .logo-menu{
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .img-article{
        display: none;
    }

    .prensa-ensayo-menu{
        height: 85vh;
        margin-left: 1em;
        margin-right: 1em;
       
    }

    .logo-small{
        height: 10vh;
    }

    .title-cont{
        display: none;
    }

    .title-header{
        display: block;
    }

    .img-about {
        width: 100%;
    }
    .circle {
        clip-path: circle(47%);
    }
    .bio-photo {
        height: 100%;
    }
    figcaption {
        margin-top: 1px;
        font-size: 12px;
        text-align: center;
    }
}