* {
  font-family: raleway;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  color: inherit;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body { 
  font-family: 'Raleway', serif;
  font-size: 48px;
  display: grid;
  grid-template-areas: 
    
    "nav article img"
    ;
  grid-template-rows: 1fr;  
  grid-template-columns: minmax(150px,200px) minmax(400px,600px) minmax(400px,790px);
  grid-row-gap: 10px; 
  grid-column-gap: 1px;
  height: 95vh;
  margin: 30px 30px 0px 60px;
  }  


#bio {
  background-color: #748D70;
 } 
 
#grey {
  background-color: #999999;
 } 
header, footer, article, nav, div {

  }
#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle { 
  grid-area: article;   
  padding: 1.2em;   
  }
#mainNav { 
  grid-area: nav; 
  }
#image-side { 
  grid-area: img;
  } 


  .section-title {
    font-size: calc(48px + 6 * ((100vw - 320px) / 680));
    position: absolute; top: 30px; left: calc(48px + 6 * ((100vw - 320px) / 680));
    background: none;
    -webkit-transform-origin: 0 0;-moz-transform-origin:    0 0;-ms-transform-origin:     0 0;-o-transform-origin:      0 0;-webkit-transform: rotate(90deg);-moz-transform:    rotate(90deg);-ms-transform:     rotate(90deg);-o-transform:      rotate(90deg);
    }
  
  p{
    font-family: 'Raleway', serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 169.9%;
    }
  
  h1{
    font-family: 'Raleway', serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 119.9%;
    text-align: right;
  }
  
  img[class] { 
    width: 100%;
  }

  #img-fit{
    object-fit: contain 

  
  }
  
  #logo-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  #about-text{
    margin-top: 180px;
  
    }

    #index-text{
      margin-top: 75px;
    
      }
  
    #about-txt{
      color: white;
    }

    #image-info
    {
      margin-top: 10px;
      font-size: 12px;
      color: white;
    }

    #highlight{
      font-style: italic;
      font-weight: bold;
    }

    .works-items{
      font-size: 40px;
      font-weight: 900;
      
    }

    .text-menu{
      line-height: 40px;
      padding-top: 14px;
    }

    .bg-index{
      background-image: url(../img/bg2.gif);
    }

    .non-available{
      opacity: 0.3;
    }

    .work-text{
      padding-top: 30px;
      color: white;
      text-align: right;
    }

    .work-titles{
      font-weight: 900;
    }

    .work-date{
      font-size: 30px;
      font-weight: 400;
      padding-top: 10px;
    }

    .work-description{
      font-size: 20px;
      font-weight: 800;
      padding-top: 10px;
    }


/* Stack the layout on small devices/viewports. */
@media only screen and (max-width: 600px)  {
  body { 
    grid-template-areas: 
      "img"
      "article"
      "nav";
    grid-template-rows:450px 1fr 100px;  
    grid-template-columns: 1fr;
    margin: 0px;
  }
  header{
    display: none;
  }
  #mainArticle{
    padding: 10px 1em 1.2em 40px;
  }
  .section-title {
    font-size: 20px;
    position: fixed!important; top: 65vh!important; /*left: 32px;*/
    background: none;
    -webkit-transform-origin: 0 0;-moz-transform-origin:    0 0;-ms-transform-origin:     0 0;-o-transform-origin:      0 0;-webkit-transform: rotate(90deg);-moz-transform:    rotate(90deg);-ms-transform:     rotate(90deg);-o-transform:      rotate(90deg);
    }

    #img-fit{
      
      height: 54vw !important;  
      position: relative;
      right: 0px !important;
      top: 0px;
    }

    #about-text{
      margin-top: 0px!important;
      }

      #index-text{
        margin-top: 0px!important;
        }

    #logo-menu{
      display: none;
      height: 0px;
      }
      
    .logo{
      width: 80px!important;
      height: auto;
      position: fixed;
      bottom: 50px;
      right: 20px;
    }

    #image-info
    {
      margin-left: 40px ;
    }
    .works-items{
      font-size: 30px;
      font-weight: 900;
      
    }

    .text-menu{
      line-height: 30px;
      padding-top: 14px;
    }
    .video{
     display: none;
    }

    .work-titles{
      font-size: 30px;
    }

    .title-work{
      padding-right: 0.5em !important;
      padding-top: 10px !important;
    }


}
      

@media all and (min-width: 576px) {
  footer{
    display: none;
  }

  .work-img-mobile {
    display: none;
  }
}

@media all and (min-width: 1400px){
  body{
    /* margin: 30px 20vw 30px 10vw; */
  }
}
